*{
	box-sizing: border-box;
	font-family: Roboto, Arial, Helvetica, sans-serif;

}

body{
	background-color: #F5F5F5
}


h1 {
	text-align: center;

}


.containter{
	width: 90%;
	position: relative;
}

.topcontainer{
	width: 90%;
	position: relative;
	left: 5%;
	padding-bottom: 50px;
}



#uploadButton{
	position: relative;
	left: 48.5%;
	margin-bottom: 20px;
}
#shipsearchbox {
	float: left;

}

#selectbox{

	float: right;
}

.ships{
	width: 90%;
	border-top: solid;
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	margin:auto;
	align-content: flex-start;
	overflow-x: auto;
	box-sizing: border-box;

}

.ship{
	background-color: white;
	padding-right: 10px;
	padding-left:10px ;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;

	border: 1px solid rgba(122, 121, 121, 0.50);
	border-radius: 10px;
}

.shipimg{
	padding-top:10px;

}

.uploadwrappermain{
	width: 60%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	position: relative;
	left:20%;
	top:20%;
	padding-bottom: 50px;
}

.uploadinputs{
	background-color: white;
	margin: auto;
	border: 1px solid rgba(122, 121, 121, 0.50);
	position: relative;
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));

}

.shipuploadimg{
	padding-top: 20px;
	position: relative;
	text-align: center;
	left: 30%;
}

.shipeyInput{
width: 500px;
height: 200px;

}


.shipinfodiv{
display: inline-block;

}

 table, th, td {
 border-collapse:collapse;
  border: 1px solid black;
}


.collapsebutton {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
	margin-top: 10px;
  outline: none;
  font-size: 15px;
	border-radius: 10px;
}

.collapsecontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
	transition: max-height 0.2s ease-out;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.shipeycode{
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	resize:none;
}

.active, .collapseibutton:hover {
  background-color: #ccc;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


table{

margin-left:auto;
margin-right:auto;
margin-bottom:20px;

}


textarea,input,label{
	display:block;
	margin: auto;



}
label{
	padding-top: 20px;
	text-align: center;
	left:50%;
}

#submitShipInput{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	left: 45%;


}

.navlink1{

	position: relative;
	left: 48%;
}
.navlink2{
	text-align: center;
}

